.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: grey;
}

.word-grid {
  width: 500px;
  height: 600px;
}

.letter {
  font-size: 40px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4b4b4;
}

.letter-partial-correct {
}

.letter-correct {
}
