.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: grey;
}

.word-grid {
  width: 500px;
  height: 600px;
}

.letter-unsolved,
.letter-partial,
.letter-correct,
.letter-incorrect {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-unsolved {
  background-color: #b4b4b4;
}

.letter-partial {
  background-color: #e6a132;
}

.letter-correct {
  background-color: #35b15a;
}

.letter-incorrect {
  background-color: #2e2e2e;
}
